.cyril-pagination {
    z-index: 999;
}

.mfp-container {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    padding: 0;
    // padding: 60px;
}

.mfp-content {
    vertical-align: top;
    padding: 80px 20px 20px;
    max-width: 1200px;
   
    @media screen and (min-width: 1200px) {
        
    }
    @media screen and (max-width: 768px) {
        
    }
}

.mfp-figure {
    position: relative;
    margin: 0 auto;
}

/* image popup */
img.mfp-img {
    // box-shadow: 0 0 8px rgb(0 0 0 / 60%);
    position: absolute;
    /* max-height: 392px; */
    width: 100%;
    padding: 0 !important;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
}


/* .mfp-content {
    height: 100%;
  } */
.mfp-bottom-bar {
    top: unset;
    bottom: 14px;
    right: 0;
}

.mfp-wrap {
    position: unset;
}

.mfp-gallery-container {
    position: fixed;
    z-index: 9999;
    height: 100%;
    width: 100%;
}

.mfp-gallery-container .mfp-wrap {
    position: unset;
}

.content_popup_warp.mfp-wrap.popup-box-inline {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.float-right {
    float: right!important;
    margin: 0 0 40px 40px;
    @media screen and (max-width: 768px)  {
        float: none!important;
        margin: 0 0 20px!important;
    }
}

.float-left {
    float: left!important;
    margin: 0 40px 40px 0;
    @media screen and (max-width: 768px)  {
        float: none!important;
        margin: 0 0 20px!important;
    }
}

.clearfix {
    clear: both;
}

.w-10 {
    width: 10%!important;
}

.w-20 {
    width: 20%!important;
}

.w-30 {
    width: 30%!important;
}

.w-40 {
    width: 40%!important;
}

.w-50 {
    width: 50%!important;
}

.w-60 {
    width: 60%!important;
}

.w-70 {
    width: 70%!important;
}

.w-80 {
    width: 80%!important;
}

.w-90 {
    width: 90%!important;
}

.w-100 {
    width: 100%!important;
}

@media screen and (max-width: 768px)  {
    .w-10,
    .w-20,
    .w-30,
    .w-40,
    .w-50,
    .w-60,
    .w-70,
    .w-80,
    .w-90,
    .w-100 {
        width: 100%!important;
    }
}

/* -------------------------------------------

main

------------------------------------------- */
*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --vh: 1vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        background-color: $light-gray;
    }

    to {
        opacity: 1;
        background-color: $light;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        background-color: $light;
    }

    to {
        opacity: 0;
        background-color: $light-gray;
    }
}

@keyframes buttonFadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes throb {
    0% {
        transform: scale(1) rotate(45deg);
    }

    25% {
        transform: scale(0.8) rotate(135deg);
    }

    50% {
        transform: scale(1.1) rotate(225deg);
    }

    75% {
        transform: scale(0.8) rotate(315deg);
    }

    100% {
        transform: scale(1) rotate(405deg);
    }
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: $soft;
}

::-webkit-scrollbar-thumb {
    background: $accent;
}

.container-full {
    width: 100%;
}

html, body {
    overscroll-behavior-y: none;
    -webkit-overflow-scrolling: touch;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-space-grotesk);
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    color: $dark;
    overscroll-behavior: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch; // for iOS smooth scrolling
    background-color: $light;
    opacity: 0;
    animation: fadeIn 1s cubic-bezier(0.4, 0, 0.4, 1) forwards;

    &:after {
        content: '';
        position: fixed;
        pointer-events: none;
        z-index: 1001;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../img/bg-static.png);
        opacity: .23; // 0.27
    }

    &.page-exit {
        animation: fadeOut 0.4s cubic-bezier(0.4, 0, 0.4, 1) forwards;
    }

    @media screen and (max-width: 1200px) {
        padding: 0 30px;
        font-size: 16px;
    }

    @media screen and (max-width: 768px) {
        padding: 0 10px;
        font-size: 15px;
    }

}

p {
    color: $gray;

    &.subheader {
        font-size: 20px;
        ;
    }
}

h1 {
    line-height: 100%;
    font-size: 80px;
    text-shadow: 5px 5px 0px $soft;

    @media screen and (max-width: 992px) {
        font-size: 40px;
    }
}

h2 {
    font-family: var(--font-atkinson);
    font-size: 58px;
    text-transform: uppercase;
    text-shadow: 5px 5px 0px $soft;
    line-height: 100%;

    @media screen and (max-width: 1400px) {
        font-size: 48px;
    }

    @media screen and (max-width: 992px) {
        font-size: 32px;
    }
}

h3 {
    line-height: 100%;
    font-size: 40px;
    text-shadow: 5px 5px 0px $soft;

    @media screen and (max-width: 1400px) {
        font-size: 30px;
    }

    @media screen and (max-width: 992px) {
        font-size: 22px;
    }
}

h4 {
    line-height: 100%;
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.cyril-text-sm {
    font-size: 14px !important;
}

.cyril-text-lg {
    font-size: 18px !important;
}

.cyril-text-xl {
    font-size: 20px !important;
}

.cyril-up {
    font-family: var(--font-atkinson);
    text-transform: uppercase;
}

.cyril-text-right {
    text-align: right;
}

.cyril-text-right-adapt {
    text-align: right;
    padding: 10px 60px 0 60px;

    @media screen and (max-width: 1200px) {
        text-align: left;
        padding: 0;
    }

    @media screen and (max-width: 768px) {
        text-align: left;
        padding: 0;
    }
}

.cyril-text-center {
    text-align: center;
}

.cyril-text-underline {
    text-decoration: underline !important;
}

.cyril-text-normal {
    font-weight: normal !important;
}

.cyril-text-center-adapt {
    text-align: center;

    @media screen and (max-width: 1200px) {
        text-align: left;
    }
}

.cyril-upper {
    font-family: var(--font-atkinson);
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    font-weight: 600;
    color: $dark;

    i {
        margin-right: 10px;
        font-size: 28px;
        display: inline;
        vertical-align: middle;
    }

    &.cyril-upper-sm {
        font-size: 14px;
    }
}

.cyril-accent {
    color: $accent;
}

.cyril-dark {
    color: $dark;
}

.cyril-left-offset {
    padding-left: 60px;

    @media screen and (max-width: 1200px) {
        padding-left: 40px;
    }
}

.cyril-left-offset-xsm {
    padding-left: 15px;

    @media screen and (max-width: 1200px) {
        padding: 0;
    }
}

.cyril-left-offset-sm {
    padding-left: 30px;

    @media screen and (max-width: 1200px) {
        padding: 0;
    }
}

.cyril-left-offset-md {
    padding-left: 120px;

    @media screen and (max-width: 1200px) {
        padding: 0;
    }
}

.cyril-left-offset-lg {
    padding-left: 260px;

    @media screen and (max-width: 992px) {
        padding: 0;
    }
}

.cyril-flex {
    display: flex;
}

.cyril-text-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cyril-icon-row {
    display: flex;
    align-items: center;
}

.cyril-text-list {
    & li {
        list-style-type: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        color: $gray;

        &:before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $accent;
            margin-right: 15px;
        }
    }
}

blockquote {
    font-style: italic;
    color: $gray;
    display: flex;
    align-items: flex-start;

    &:before {
        content: '"';
        display: block;
        transform: translateY(7px);
        margin-right: 30px;
        font-size: 36px;
        font-weight: 600;
        color: $accent;
    }
}

label.error {
    color: red;
    font-size: 14px;
    position: relative;
    top: -15px;
    line-height: 0;
}

label label.error {
    top: 5px;
}

/* -------------------------------------------

button

------------------------------------------- */
.cyril-buttons-frame {
    display: flex;

    & .cyril-button {
        margin-right: 20px;

        &:last-child {
            margin-right: 0;
        }
    }

    @media screen and (max-width: 1200px) {
        justify-content: center
    }

    @media screen and (max-width: 992px) {

        & .cyril-button {
            margin-bottom: 15px;

            &:last-child {
                margin-right: 0;
                margin-bottom: 0;
            }
        }
    }

    @media screen and (max-width: 414px) {
        flex-direction: column;

        & .cyril-button {
            margin-right: 0;
            width: 70%;
            align-self: center;
        }
    }

    @media screen and (max-width: 360px) {
        & .cyril-button {
            padding: 0 20px;
        }
    }

}

.cyril-button {
    font-family: var(--font-atkinson);
    white-space: nowrap;
    width: auto;
    display: inline-flex;
    background-color: $accent;
    height: 60px;
    padding: 0 40px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    border: solid 2px $accent;
    color: $light;
    box-shadow: 7px 7px 0px 0px $accent-light;
    transition: $tr;
    cursor: pointer;

    &.cyril-type-2 {
        border-color: $dark;
        background-color: $light;
        color: $dark;
        box-shadow: 7px 7px 0px 0px $soft;

        &:hover {
            box-shadow: 0px 0px 0px 0px $soft;
        }
    }

    &.cyril-type-3 {
        background-color: $dark;
        border-color: $dark;
        color: $light;
        box-shadow: 7px 7px 0px 0px $soft;
    }

    &:hover {
        box-shadow: 0px 0px 0px 0px $accent-light;
    }

    @media screen and (max-width: 768px) {
        font-size: 14px;
    }
}

svg.cyril-prev {
    transform: rotate(180deg);
    margin-right: 15px;
    margin-left: -10px;
}

/* -------------------------------------------

spaces

------------------------------------------- */
.cyril-mb-10 {
    margin-bottom: 10px;
}

.cyril-mb-15 {
    margin-bottom: 15px;
}

.cyril-mb-20 {
    margin-bottom: 20px;
}

.cyril-mb-30 {
    margin-bottom: 30px;
}

.cyril-mb-40 {
    margin-bottom: 40px;
}

.cyril-mb-45 {
    margin-bottom: 45px;
}

.cyril-mb-50 {
    margin-bottom: 50px;
}

.cyril-mb-60 {
    margin-bottom: 60px;
}

.cyril-mb-70 {
    margin-bottom: 70px;
}

.cyril-mb-80 {
    margin-bottom: 80px;
}

.cyril-mb-90 {
    margin-bottom: 90px;
}

.cyril-mb-100 {
    margin-bottom: 100px;
}

.cyril-mt-10 {
    margin-top: 10px;
}

.cyril-mt-15 {
    margin-top: 15px;
}

.cyril-mt-20 {
    margin-top: 20px;
}

.cyril-mt-30 {
    margin-top: 30px;
}

.cyril-mt-40 {
    margin-top: 40px;
}

.cyril-mt-45 {
    margin-top: 45px;
}

.cyril-mt-50 {
    margin-top: 50px;
}

.cyril-mt-60 {
    margin-top: 60px;
}

.cyril-mt-70 {
    margin-top: 70px;
}

.cyril-mt-80 {
    margin-top: 80px;
}

.cyril-mt-90 {
    margin-top: 90px;
}

.cyril-mt-100 {
    margin-top: 100px;
}

.cyril-op-space-90 {
    padding-top: 30px;

    @media screen and (max-width: 1200px) {
        padding-top: 0;
        padding-bottom: 90px;
    }
}

.cyril-op-space-60 {
    padding-top: 30px;

    @media screen and (max-width: 1200px) {
        padding-top: 0;
        padding-bottom: 60px;
    }
}

.cyril-op-space-30 {
    padding-top: 60px;

    @media screen and (max-width: 1200px) {
        padding-top: 0;
        padding-bottom: 30px;
    }
}

dl {
    margin-top: 60px;
    margin-bottom: 30px;

    dt {
        font-weight: bold;
        font-size: 1.15em;
        margin-bottom: 40px;
    }

    dd {
        margin-bottom: 30px;
        margin-left: 40px;
    }

    &.w-disc {
        list-style-type: disc;
        
        dd {
            display: list-item;
            padding-left: 15px;
            margin-left: 45px;

            @media screen and (max-width: 768px)  {
                padding-left: 5px;
                margin-left: 15px;
            }

            dl {
                list-style-type: circle;

                dd {
                    margin-left: 15px;
                }
                
            }
        }
    }

    &.no-disc {
        list-style-type: none;
        
        dd {
            margin-left: 0;

            & dl.w-disc {
                margin-top: 30px;
                margin-left: 45px;
                @media screen and (max-width: 768px)  {
                    margin-left: 0;
                    dd {
                        padding-left: 5px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }

}

.cyril-built {
    position: fixed;
    bottom: 38px;
    left: 45px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    font-family: var(--font-atkinson);
    font-size: 13px;
    font-weight: 900;
    background: $light;

    &.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    & p {
        padding: 2px 15px;

        & .fa-heart {
            color: $accent;
            position: relative;
            top: 1px;
            display: inline-block;
        }
    }

    @media screen and (max-width: 1200px) {
        bottom: 45px;
        left: 35px;
        font-size: 13px;
    }

    @media screen and (max-width: 768px) {
        display: inline-block;
        width: 245px;
        bottom: 20px;
        left: 20px;
        padding: 5px 0;
        line-height: 1.5;
        text-align: left;
        font-size: 11px;
    }
}