$dark: #101010;
$gray: #202020;
$soft: rgba(16, 16, 16, 0.18);
$light: rgba(255, 255, 255, 1);
$accent: #fa4729;
$accent-light: rgba(250, 71, 41, 0.18);
$black: #010101;

$tr: .4s cubic-bezier(0, 0, 0.3642, 1);